* {
  margin: 0;
  padding: 0;
}

body {
  background-color: silver;
}

.wrapper01 {
  height: 100px;
  background-color: aquamarine;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.wrapper01 div {
  background-color: red;
  color: white;
}

.wrapper01 div:nth-child(even) {
  background-color: black;
}

.wrapper02 {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  height: 100px;
}

.wrapper02 div {
  background-color: tomato;
}

.wrapper02 div:nth-child(even) {
  background-color: bisque;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.box2 {
  grid-column-start: 3;
  grid-column-end: 7;
}

.wrapper03 {
  display: grid;
  margin-top: 30px;
  gap: 5px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 300px;
}

.wrapper03 div {
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper03 div:nth-child(even) {
  background-color: aqua;
}

.boxx1 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.boxx2 {
  grid-column-start: 4;
  grid-column-end: 10;
}
.boxx3 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}
