@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 3%;
  position: sticky;
  top: 0;
  background-color: white;
  /* opacity: 10%; */
  background-color: rgba(255, 255, 255, 0.8);
}

.nav-side-left {
  display: flex;
  align-items: center;
}

.menu-icon {
  margin-right: 25px;
}

.menu-icon .fa {
  font-size: 33px;
  margin-bottom: 8px;
}

.navbar-link {
  display: flex;
  align-items: center;
  gap: 28px;
}
.navbar p {
  font-size: 11px;
  color: #363a45;
}

.navbar i {
  font-size: 20px;
  /* width: 100px; */
}

.navbar .navbar-link .wrap {
  display: flex;
  align-items: center;
  gap: 4px;
}

.navbar .navbar-link a {
  font-size: 17px;
  color: #363a45;
}

/* Jumbotron */
.jumbotron {
  background-image: url(./aset/afif-ramdhasuma-aMl7QzpzYdA-unsplash.jpg);
  height: 602px;
  background-position: center;
  background-size: cover;
  padding-top: 70px;
}

.jumbotron {
  display: flex;
  justify-content: start;
  align-items: end;
  padding: 60px 7%;
}

.jumbotron h1 {
  color: white;
  font-size: 70px;
}

/* Content */
.about-us {
  /* background-color: #023620; */
  background-color: rgb(2, 54, 32);
  height: 80px;
  padding: 0 7%;
  display: flex;
  align-items: center;
  color: white;
}

.about-us h1 {
  font-size: 18px;
}

.download-app {
  background-color: rgb(0, 177, 79);
  height: 80px;
  padding: 0 7%;
  display: flex;
  align-items: center;
  color: white;
}

.download-app h1 {
  font-size: 18px;
}

.content-text {
  height: 276px;
  padding: 0 7%;
  display: flex;
  align-items: center;
}

.content-text h1 {
  font-size: 40px;
}

.support {
  height: 180px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  /* padding: 0 7%; */
  border-bottom: 1px solid #d2d8df;
  width: 85%;
  margin: 0 auto;
}

.support .btn {
  font-size: 18px;
  color: #697078;
}

.support .active {
  padding: 12px 32px;
  border: none;
  background-color: #000;
  border-radius: 30px;
  color: white;
}

/* Pengantaran */
.pengantaran {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  margin: 0 auto;
  width: 85%;
  margin-top: 40px;
  gap: 40px;
  /* border-bottom: 1px solid #d2d8df; */
}

.pengantaran h1 {
  grid-row: 1/5;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.paket-pengantaran {
  padding-bottom: 50px;
  border-bottom: 1px solid #d2d8df;
}

.paket-pengantaran:last-child {
  border-bottom: none;
}

.paket {
  margin-left: 30px;
}
.paket h1 {
  font-size: 20px;
}
.paket p {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 20px;
}

.pengantaran .paket-pengantaran {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.pengantaran .paket-pengantaran svg {
  width: 92px;
}

.pengantaran-mobilitas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0 auto;
  width: 85%;
  margin-top: 40px;
  gap: 40px;
  border-top: 1px solid #d2d8df;
  margin-top: -10px;
  padding-top: 40px;
}

.pengantaran-mobilitas .title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}
.pengantaran-mobilitas .paket-pengantaran {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.pengantaran-mobilitas .paket-pengantaran svg {
  transform: scale(130%);
  margin-right: 30px;
}

/* end */
.end {
  border-top: 2px solid #d2d8df;
  border-bottom: 2px solid #d2d8df;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.end h1 {
  font-size: 20px;
}
